/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/partials/_font.scss */
html, body, .mdl-textfield__input, h3 small, h4 small, h3, h4 {
  font-family: 'Inconsolata', monospace;
}

/* line 4, ../sass/partials/_base.scss */
.tube-card-wide.mdl-card {
  width: auto;
}

/* line 8, ../sass/partials/_base.scss */
.tube-card-wide > .mdl-card__image {
  height: 184px;
  background: url("../../img/buzz.jpg") center/cover;
  position: relative;
}

/* line 14, ../sass/partials/_base.scss */
.tube-card-wide .mdl-card__title {
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
}

/* line 20, ../sass/partials/_base.scss */
.tube-card-wide > .mdl-card__menu {
  color: #fff;
}

/* line 25, ../sass/partials/_base.scss */
.tube-card-wide > .mdl-card__eo {
  height: 184px;
  background: url("../../img/eo.jpg") center/cover;
  position: relative;
}

/* line 31, ../sass/partials/_base.scss */
.tube-card-wide > .mdl-card__animals {
  height: 184px;
  background: url("../../img/animals.jpg") center/cover;
  position: relative;
}
