{% include "helpers/_head.html" %}

<div class="mdl-layout mdl-js-layout">
  <header class="mdl-layout mdl-js-layout">
    <div class="mdl-layout-icon">
      <!-- menu icon -->
    </div>
    <div class="mdl-layout__header-row">
      <span class="mdl-layout__title">Sample Layout</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="#">Nav link 1</a>
        <a class="mdl-navigation__link" href="#">Nav link 2</a>
        <a class="mdl-navigation__link" href="#">Nav link 3</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout__title">Sample Layout</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="#">Nav link 1</a>
      <a class="mdl-navigation__link" href="#">Nav link 2</a>
      <a class="mdl-navigation__link" href="#">Nav link 3</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <p>Content</p>
    <p>Goes</p>
    <p>Here</p>
  </main>
</div>

{% include "helpers/_basescripts.html" %}
{% include "helpers/_footer.html" %}