{% include "helpers/_head.html" %}

    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      {% include "helpers/_headernav.html" %}
      <main class="mdl-layout__content">
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <h2>The Definitive Buzz Lightyear Serial</h2>
          </div>

          <div class="mdl-cell mdl-cell--6-col-desktop mdl-cell--4-col-tablet mdl-cell--4-col-phone">
            <h5>Created by: The Tube's Curators</h5>
          </div>
        </div>
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--4-col">
            <div class="tube-card-video mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <div class="mdl-card__title-text">
                  Darth Vader VS Buzz Lightyear
                </div>
              </div>
              <div class="mdl-card__media" id="ser1">

              </div>
              <div class="mdl-card__supporting-text">
                The ultimate battle between good and evil. Toy Story meets Star Wars. Enjoy!
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#">
                  Play Video
                </a>
              </div>          
            </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <div class="tube-card-video mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <div class="mdl-card__title-text">
                  Buzz Lightyear of Star Command
                </div>
              </div>
              <div class="mdl-card__media" id="ser2">

              </div>
              <div class="mdl-card__supporting-text">
                Buzz stars in his own movie, kick starting his show. Can it go to infinity and Beyond?
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#">
                  Play Video
                </a>
              </div> 
            </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <div class="tube-card-video mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <div class="mdl-card__title-text">
                  Buzz Lightyear, Space Ranger, Balloon Costume
                </div>
              </div>
              <div class="mdl-card__media" id="ser3">

              </div>
              <div class="mdl-card__supporting-text">
                Jeff Wright is owner of Wright Entertainment, LLC.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#">
                  Play Video
                </a>
              </div> 
            </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <div class="tube-card-video mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <div class="mdl-card__title-text">
                  Buzz Lightyear's Memory Resets
                </div>
              </div>
              <div class="mdl-card__media" id="ser4">

              </div>
              <div class="mdl-card__supporting-text">
                  Toys try to fix Buzz Lightyear and end up switching him to Spanish Mode.
              </div>    
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#">
                  Play Video
                </a>
              </div>         
            </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <div class="tube-card-video mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <div class="mdl-card__title-text">
                  Toy Story 2: Buzz Lightyear vs Buzz Lightyear!
                </div>
              </div>
              <div class="mdl-card__media" id="ser5">

              </div>
              <div class="mdl-card__supporting-text">
                Watch Buzz face himself in Toy Story 2!
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#">
                  Play Video
                </a>
              </div> 
            </div>
          </div>
          <div class="mdl-cell mdl-cell--4-col">
            <div class="tube-card-video mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <div class="mdl-card__title-text">
                  Buzz Lightyear of Star Command Video Game Playthrough
                </div>
              </div>
              <div class="mdl-card__media" id="ser6">

              </div>
              <div class="mdl-card__supporting-text">
                A full 100% playthrough for Buzz Lightyear Of Star Command video game on PS1.
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="#">
                  Play Video
                </a>
              </div> 
            </div>
          </div>
        </div>

        {% include "helpers/_footer.html" %}
      </main>

      {% include "helpers/_basescripts.html" %}
    </div>

  {% include "helpers/_end.html" %}