<div class="tube-card-wide mdl-card mdl-shadow--4dp">
  <div class="mdl-card__image">
    <!-- image here -->
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">The Definitive Buzz Lightyear Serial</h2>
    </div>
  </div>
  
  <div class="mdl-card__supporting-text">
    Who is Buzz Lightyear? How can one go "beyond" infinity? We will give answers to these questions and more in this invigorating journey into the pysche of a Toy Story hero.
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Start Serial
    </a>
  </div>                      

  <div class="mdl-card__menu">
    <button id="card-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>

    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="card-menu-lower-right">
      <li class="mdl-menu__item">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">favorite</i>
        </button>
      </li>
      <li class="mdl-menu__item">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">flag</i>
        </button>
      </li>
    </ul>
  </div> 
</div>